<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <script>
            window.onscroll = ()=>{
                console.log('____')
                console.log(window.innerHeight)
                console.log(window.scrollY)
                console.log(document.body.offsetHeight)
             if(window.innerHeight+window.scrollY>=document.body.offsetHeight){
                 document.querySelector('body').style.backgroundColor="green"
             }
             else {
                 document.querySelector('body').style.backgroundColor="white"
             }
            }

        </script>
    </head>
    <body>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
        <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>2</p>
         <p>1</p>
        <p>last</p>
    </body>
</html>
